# {{ ansible_managed }}

D /var/lock/{{ item.value.service_name }} 2755 {{ neutron_system_user_name }} {{ neutron_system_group_name }}
D /var/run/{{ item.value.service_name }} 2755 {{ neutron_system_user_name }} {{ neutron_system_group_name }}
D {{ neutron_lock_path }} 2755 {{ neutron_system_user_name }} {{ neutron_system_group_name }}
